<?php
// Site Constants
define ("SITE_VERSION", "0.2b");

// Database Constants
define ("DB_SERVER", "localhost"); // generally 'localhost'
define ("DB_NAME", "{{DB_NAME}}");
define ("DB_USER", "{{USERNAME}}");
define ("DB_PASS", "{{PASSWORD}}");

// LDAP Constants
define ("LDAP_LOCATION", "{{LDAP_LOCATION}}"); // Active Directory location (e.g. '192.168.0.1')
define ("LDAP_DOMAIN", "{{LDAP_DOMAIN}}"); // Domain name suffix (e.g. '@domain.local')
define ("LDAP_USERNAME", "{{LDAP_USERNAME}}"); // User able to search the AD (e.g. 'username')
define ("LDAP_PASSWORD", "{{LDAP_PASSWORD}}"); // Password for ldapSearchUser

// Site Detail Constants
define ("SITE_NAME", "Site Name");
define ("SITE_SLOGAN", "The best site ever");
define ("SITE_ADMIN_NAME", "Some Person");
define ("SITE_ADMIN_EMAIL", "someone@somewhere.com");

?>